@font-face {
    font-family: 'Barlow Bold';
    src: url(./components/fonts/Barlow/Barlow-Bold.ttf);
}
@font-face {
    font-family: 'Barlow Medium';
    src: url(./components/fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
    font-family: 'Barlow Regular';
    src: url(./components/fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'Barlow Light';
    src: url(./components/fonts/Barlow/Barlow-Light.ttf);
}
@font-face {
    font-family: 'Fraunces Bold';
    src: url(./components/fonts/Fraunces/Fraunces_9pt-Bold.ttf);
}
@font-face {
    font-family: 'Fraunces Light';
    src: url(./components/fonts/Fraunces/Fraunces_144pt-Light.ttf);
}
@font-face {
    font-family: 'Fraunces Regular';
    src: url(./components/fonts/Fraunces/Fraunces_144pt-Regular.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #222;
}

.app{
    display: flex;
    justify-content: center;
    width: 1440px;
    min-height: 100vh;
    margin: 0;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.top-nav-container{
    position: relative;
    width: 100%;
    height: 800px;
    contain: content;
}

.header-image{
    width: 100%;
    position: absolute;
}

nav{
    position: relative;
    top: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sunny-logo{
    margin-left: 2.5rem;
    height: 2rem;
    width: 10.8rem;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

ul li{
    color: #FFFEFB;
    font-size: 1.2rem;
    margin-right: 2.9rem;
    margin-left: -.8px;
    font-family: 'Barlow Light';
    /* letter-spacing: .1px; */

}

ul li:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 140px;
    background-color: white;
    border-radius: 50px;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces Bold';
    font-size: 15px;
    letter-spacing: unset;
}



.arrow-creatives{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 6.9rem;
    margin-bottom: 5.7rem;
    font-size: 3.4rem;
    font-family: 'Fraunces Bold';
    letter-spacing: 10px;
    color: white;
}

.grid-wrap{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card{
    position: relative;
    width: 720px;
    height: 600px;
    background-color: #FFFBF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gridImg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.description{
    padding-left: 10.3rem;
}

h2{
    font-family: 'Fraunces Bold';
    font-size: 2.55rem;
    padding-right: 10rem;
    letter-spacing: -.8px;
    line-height: 3rem;
}

.greybg-paragraph{
    font-size: 18px;
    font-family: 'Barlow Medium';
    font-weight: 300;
    line-height: 30px;
}