@font-face {
    font-family: 'Barlow Bold';
    src: url(./components/fonts/Barlow/Barlow-Bold.ttf);
}
@font-face {
    font-family: 'Barlow Medium';
    src: url(./components/fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
    font-family: 'Barlow Regular';
    src: url(./components/fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'Barlow Light';
    src: url(./components/fonts/Barlow/Barlow-Light.ttf);
}
@font-face {
    font-family: 'Fraunces Bold';
    src: url(./components/fonts/Fraunces/Fraunces_9pt-Bold.ttf);
}
@font-face {
    font-family: 'Fraunces Light';
    src: url(./components/fonts/Fraunces/Fraunces_144pt-Light.ttf);
}
@font-face {
    font-family: 'Fraunces Regular';
    src: url(./components/fonts/Fraunces/Fraunces_144pt-Regular.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #222;
}

.app{
    display: flex;
    justify-content: center;
    width: 1440px;
    min-height: 100vh;
    margin: 0;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.top-nav-container{
    position: relative;
    width: 100%;
    height: 800px;
    contain: content;
}

.header-image{
    width: 100%;
    position: absolute;
}

nav{
    position: relative;
    top: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sunny-logo{
    margin-left: 2.5rem;
    height: 2rem;
    width: 10.8rem;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

ul li{
    color: #FFFEFB;
    font-size: 1.2rem;
    margin-right: 2.9rem;
    margin-left: -.8px;
    font-family: 'Barlow Light';
    /* letter-spacing: .1px; */

}

ul li:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 140px;
    background-color: white;
    border-radius: 50px;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces Bold';
    font-size: 15px;
    letter-spacing: unset;
}

.arrow-creatives{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 6.9rem;
    margin-bottom: 5.7rem;
    font-size: 3.4rem;
    font-family: 'Fraunces Bold';
    letter-spacing: 10px;
    color: white;
}

.grid-wrap{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card{
    position: relative;
    width: 720px;
    height: 600px;
    background-color: #FFFBF8;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

p,h3{
    z-index: 8;
}

.gridImg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    position: relative;
    width: 62%;
    font-family: 'Fraunces Bold';
    font-size: 2.55rem;
    letter-spacing: -.8px;
    line-height: 3rem;
    margin-left: 3.5rem;
    margin-top: -4px;
    color: hsl(212, 27%, 19%);
}

.greybg-paragraph{
    width: 62%;
    position: relative;
    top: -1.1rem;
    font-size: 18px;
    font-family: 'Barlow Medium';
    font-weight: 300;
    line-height: 30px;
    margin-left: 3.4rem;
    color: hsl(232, 10%, 55%);
}

.learn-more{
    font-family: 'Fraunces Bold';
    letter-spacing: .5px;
    align-self: left;
    border: none;
    background: none;
    font-size: 1rem;
    align-self: center;
    position: relative;
    top: 5px;
    z-index: 1;
    left: -7.9rem;
    background-position: bottom;
    color: hsl(212, 27%, 19%);
}

.learn-more::after{
    position: absolute;
    left: -5px;
    top: 15px;
    content: "";
    width: 8.5rem;
    border-radius: 50px;
    height: 9px;
    z-index: -1;
    background-color: hsl(51, 100%, 49%);
    opacity: .2;
}

.fourth{
    margin-left: -4.3rem;
}

.greybg-paragraph2{
    width: 57%;
    margin-left: 18px;
}

.learn-more2{
    margin-left: -2.6rem;
}

.learn-more2::after{
    background-color: hsl(7, 99%, 70%);
}

.two-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 6.8rem;
}

.two-header,.photography{
    color: hsl(167, 40%, 24%);
    font-size: 1.8rem;
    font-family: 'Fraunces Bold';
    margin-top: 9.5rem;
    margin-left: -.4px;
}

.photography{
    color: hsl(198, 62%, 26%)
}

.photo-details, .details{
    color: hsl(198, 62%, 26%);
    width: 48.5%;
    font-family: 'Barlow Medium';
    line-height: 28px;
    position: relative;
    left: 1px;
    top: -1.22rem;
}

.details{
    color: hsl(167, 40%, 24%);
}
