@font-face {
    font-family: 'Barlow Bold';
    src: url(./components/fonts/Barlow/Barlow-Bold.ttf);
}
@font-face {
    font-family: 'Barlow Medium';
    src: url(./components/fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
    font-family: 'Barlow Regular';
    src: url(./components/fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
    font-family: 'Barlow Light';
    src: url(./components/fonts/Barlow/Barlow-Light.ttf);
}
@font-face {
    font-family: 'Fraunces Bold';
    src: url(./components/fonts/Fraunces/Fraunces_9pt-Bold.ttf);
}
@font-face {
    font-family: 'Fraunces Light';
    src: url(./components/fonts/Fraunces/Fraunces_144pt-Light.ttf);
}
@font-face {
    font-family: 'Fraunces Regular';
    src: url(./components/fonts/Fraunces/Fraunces_144pt-Regular.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #222;
}

.app{
    display: flex;
    justify-content: center;
    width: 1440px;
    min-height: 100vh;
    margin: 0;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

@media only screen and (min-width:320px) and (max-width:599px){

    .app{
        width: 100%;
        min-height: 100vh;
    }

    .content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){
    .app{
        width: 100%;
        max-width: 720px;
        min-height: 100vh;
    }

    .content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/*********************************** Header Section *******************************/

.top-nav-container{
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-image{
    width: 100%;
    height: 100%;
    position: absolute;
}

nav{
    position: absolute;
    top: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sunny-logo{
    position: relative;
    margin-left: 2.5rem;
    height: 2rem;
    width: 10.8rem;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

ul li{
    color: #FFFEFB;
    font-size: 1.2rem;
    margin-right: 2.9rem;
    margin-left: -.8px;
    font-family: 'Barlow Light';
    cursor: pointer;
}

.activeLink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 140px;
    background-color: white;
    border-radius: 50px;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces Bold';
    font-size: 15px;
    letter-spacing: unset;
}

.activeLink:hover{
    cursor: pointer;
    background-color: hsl(206, 74%, 82%);
    color: white;
}

.mobile-menu{
    position: relative;
    display: none;
    cursor: pointer;
}

.btn-span{
    position: relative;
    height: 2px;
    width: 1.5rem;
    background-color: #FFFBF8;
    margin-bottom: 6px;
    margin-right: 1.78rem;
    top: 2px;
    cursor: pointer;
    z-index: 90;
}

.arrow-creatives{
    width: 100%;
    position: relative;
    top: -5.27rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 5.7rem;
    font-size: 3.4rem;
    font-family: 'Fraunces Bold';
    letter-spacing: 10px;
    color: white;
}

@media only screen and (min-width:320px) and (max-width:599px){
    .top-nav-container{
        height: 538px;
    }

    nav{
        top: 2rem;
    }

    .links-wrap{
        opacity: 0;
        transition: all 1s ease-in-out;

    }

    .mobile-links-wrap{
        opacity: 1;
        transition: all 1s ease-in-out;
        z-index: 20;
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
        z-index: 190;
    }

    .btn-span{
        transition: all 0.5s ease-in-out;
    }

    .link-bars{
        transition: all 0.5s ease-in-out;
    }

    .link-bars:nth-child(2){
        opacity: 0;
    }

    .link-bars:nth-child(1){
        transform:translateY(10.5px) rotate(-45deg);
    }

    .link-bars:nth-child(3){
        transform: translateY(-5.5px) rotate(45deg);
    }

    .nav-list{
        position: absolute;
        top: 2.16rem;
        right: 1.9rem;
        height: 328px;
        width: 289px;
        background-color: #FFFBF8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: right;
        z-index: 150;
        gap: 2rem;
        transition: all 0.5 ease-in-out;
    }

    .nav-list::before{
        content: "";
        position: absolute;
        width: 329px;
        height: 4rem;
        background-color: #3DBEFF;
        transform: rotate(47deg);
        left: 3.2rem;
        top: -9.5rem;
    }

    .nav-list::after{
        content: "";
        position: absolute;
        width: 329px;
        height: 2rem;
        background-color: #3DBEFF;
        transform: rotate(0);
        left: -1.5rem;
        top: -10px;
    }

    .nav-list li{
        color: hsl(232, 10%, 55%);
        font-weight: 700;
        position: relative;
        top: 13px;
    }

    .activeLink{
        background-color: #FBD601;
        font-weight: 300 !important;
        color: hsl(212, 27%, 19%) !important;
    }

    .sunny-logo{
        margin-left: 1.8rem;
        height: 1.5rem;
        width: 7.8rem;
        z-index: 200;
    }

    .arrow-creatives{
        top: -3.32rem;
    }

    h1{
        font-size: 2.4rem;
        text-align: center;
        letter-spacing: 8px;
        margin-top: 7.5rem;
        margin-bottom: 3.06rem;
        line-height:48px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){
    .top-nav-container{
        height: 538px;
    }

    nav{
        top: 2rem;
    }

    .links-wrap{
        opacity: 0;
        transition: all 1s ease-in-out;

    }

    .mobile-links-wrap{
        opacity: 1;
        transition: all 1s ease-in-out;
        z-index: 20;
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
        z-index: 190;
    }

    .btn-span{
        transition: all 0.5s ease-in-out;
    }

    .link-bars{
        transition: all 0.5s ease-in-out;
    }

    .link-bars:nth-child(2){
        opacity: 0;
    }

    .link-bars:nth-child(1){
        transform:translateY(10.5px) rotate(-45deg);
    }

    .link-bars:nth-child(3){
        transform: translateY(-5.5px) rotate(45deg);
    }

    .nav-list{
        position: absolute;
        top: 2.16rem;
        right: 1.9rem;
        height: 328px;
        width: 289px;
        background-color: #FFFBF8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: right;
        z-index: 150;
        gap: 2rem;
        transition: all 0.5 ease-in-out;
    }

    .nav-list::before{
        content: "";
        position: absolute;
        width: 329px;
        height: 4rem;
        background-color: #3DBEFF;
        transform: rotate(47deg);
        left: 3.2rem;
        top: -9.5rem;
    }

    .nav-list::after{
        content: "";
        position: absolute;
        width: 329px;
        height: 2rem;
        background-color: #3DBEFF;
        transform: rotate(0);
        left: -1.5rem;
        top: -10px;
    }

    .nav-list li{
        color: hsl(232, 10%, 55%);
        font-weight: 700;
        position: relative;
        top: 13px;
    }

    .activeLink{
        background-color: #FBD601;
        font-weight: 300 !important;
        color: hsl(212, 27%, 19%) !important;
    }

    .sunny-logo{
        position: relative;
        margin-left: 2.5rem;
        height: 2rem;
        width: 10.8rem;
    }

    .arrow-creatives{
        top: -5.5rem;
    }

    h1{
        font-size: 2.4rem;
        text-align: center;
        letter-spacing: 8px;
        margin-top: 7.5rem;
        margin-bottom: 3.06rem;
        line-height:48px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){

    .arrow-creatives{
        top: -2rem;
    }
}

/************************ 6 Grid/flex cards section **********************/

.grid-wrap{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card{
    position: relative;
    width: 720px;
    height: 600px;
    background-color: #FFFBF8;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

p,h2, h3{
    z-index: 8;
}

.gridImg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.description{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    position: relative;
    width: 62%;
    font-family: 'Fraunces Bold';
    font-size: 2.55rem;
    letter-spacing: -.8px;
    line-height: 3rem;
    margin-left: 3.5rem;
    margin-top: -4px;
    color: hsl(212, 27%, 19%);
}

.greybg-paragraph{
    width: 62%;
    position: relative;
    top: -1.1rem;
    font-size: 18px;
    font-family: 'Barlow Medium';
    font-weight: 300;
    line-height: 30px;
    margin-left: 3.4rem;
    color: hsl(232, 10%, 55%);
}

.learn-more{
    font-family: 'Fraunces Bold';
    letter-spacing: .5px;
    align-self: left;
    border: none;
    background: none;
    font-size: 1rem;
    align-self: center;
    position: relative;
    top: 5px;
    z-index: 1;
    left: -7.9rem;
    background-position: bottom;
    color: hsl(212, 27%, 19%);
    cursor: pointer;
}

.learn-more::after{
    position: absolute;
    left: -5px;
    top: 15px;
    content: "";
    width: 8.5rem;
    border-radius: 50px;
    height: 9px;
    z-index: -1;
    background-color: hsl(51, 100%, 49%);
    opacity: .2;
}

.learn-more:hover::after{
    opacity: 1;
}

.fourth{
    margin-left: -4.3rem;
}

.fourth-H2{
    position: relative;
    left: -1.3rem;
}

.greybg-paragraph2{
    width: 62%;
    margin-left: 12px;
}

.learn-more2{
    margin-left: -2.6rem;
}

.learn-more2::after{
    background-color: hsl(7, 99%, 70%);
}

.two-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 6.8rem;
}

.two-header,.photography{
    color: hsl(167, 40%, 24%);
    font-size: 1.8rem;
    font-family: 'Fraunces Bold';
    margin-top: 9.5rem;
    margin-left: -.4px;
}

.photography{
    color: hsl(198, 62%, 26%)
}

.photo-details, .details{
    color: hsl(198, 62%, 26%);
    width: 48.5%;
    font-family: 'Barlow Medium';
    line-height: 28px;
    position: relative;
    left: 1px;
    top: -1.22rem;
}

.details{
    color: hsl(167, 40%, 24%);
}

@media only screen and (min-width: 320px) and (max-width: 599px){
    .grid-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .card{
        position: relative;
        width: 100%;
        min-height: 310px;
        background-color: #FFFBF8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    .card:nth-child(2){
        order: -1;
        height: 312px;
    }

    .card:nth-child(1){
        height: 437px;
    }
    .card:nth-child(3){
        height: 312px;
    }
    .card:nth-child(4){
        height: 437px;
    }
    
    p,h2, h3{
        z-index: 8;
    }
    
    .gridImg{
        position: absolute;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    
    .description{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        top: -3rem;
    }
    
    h2{
        align-self: center;
        position: relative;
        left:-2rem;
        top: 3.3rem;
        line-height: 38px;
        font-family: 'Fraunces Bold';
        font-size: 2rem;
        width: 85%;
    }
    
    .greybg-paragraph{
        width: 85%;
        position: relative;
        top: 2.02rem;
        margin-left: 0;
        align-self: center;
        text-align: center;
    }
    
    .learn-more{
        align-self: center;
        position: relative;
        top: 2.98rem;
        z-index: 1;
        left:-2px;
    }

    .learn-more::after{
        position: absolute;
        left: 7px;
        top: 15px;
        content: "";
        width: 8.5rem;
        border-radius: 50px;
        height: 9px;
        z-index: -1;
        background-color: hsl(51, 100%, 49%);
        opacity: .2;
    }
    
    .fourth{
        margin-left: 0;
    }
    
    .greybg-paragraph2{
        width: 85%;
        text-align: center;
        margin-left: 0;
    }
    
    .learn-more2{
        margin: 0;
    }
    
    .two-cards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 6.57rem;
    }
    
    .two-header,.photography{
        margin-top: 9.5rem;
        margin-left: 4rem;
    }

    .photography{
        margin-left: 3.2rem;
    }

    .photo-details, .details{
        color: hsl(198, 62%, 26%);
        width: 86%;
        font-family: 'Barlow Medium';
        line-height: 28px;
        position: relative;
        left: 0;
        top: 2.4rem;
        text-align: center;
    }

    .details{
        color: hsl(167, 40%, 24%);
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){
    .grid-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card{
        position: relative;
        width: 100%;
        min-height: 310px;
        background-color: #FFFBF8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    .card:nth-child(2){
        /* order: -1; */
        height: 600px;
    }

    .card:nth-child(1){
        height: 600px;
    }
    .card:nth-child(3){
        height: 600px;
    }
    .card:nth-child(4){
        height: 600px;
    }

    p,h2, h3{
        z-index: 8;
    }
    
    .gridImg{
        position: absolute;
        align-self: center;
        width: 100%;
        height: 100%;
    }
    
    .description{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        top: -3rem;
    }
    
    h2{
        align-self: center;
        position: relative;
        left:-2rem;
        top: 3.3rem;
        line-height: 38px;
        font-family: 'Fraunces Bold';
        font-size: 2.5rem;
        width: 85%;
    }
    
    .greybg-paragraph{
        width: 85%;
        max-width: 500px;
        position: relative;
        top: 2.02rem;
        margin-left: 0;
        align-self: center;
        text-align: center;
        font-size: 1.3rem;
    }
    
    .learn-more{
        align-self: center;
        position: relative;
        top: 2.98rem;
        z-index: 1;
        left:-2px;
    }
    
    .fourth{
        margin-left: 0;
    }
    
    .greybg-paragraph2{
        width: 85%;
        text-align: center;
        margin-left: 0;
    }
    
    .learn-more2{
        margin: 0;
    }
    
    .two-cards{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 6.57rem;
    }
    
    .two-header,.photography{
        margin-top: 9.5rem;
        margin-left: 4rem;
    }

    .photography{
        margin-left: 3.2rem;
    }

    .photo-details, .details{
        color: hsl(198, 62%, 26%);
        width: 350px;
        font-family: 'Barlow Medium';
        line-height: 28px;
        position: relative;
        left: 0;
        top: 2.4rem;
        text-align: center;
        font-size: 1.3rem;
    }

    .details{
        color: hsl(167, 40%, 24%);
    }
}

/******************************* Testimonial section ********************/

.testimonial-wrap{
    position: relative;
    width: 100%;
    height: 777px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFBF8;
    gap: 3.9rem;
}

.rating{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

h3{
    position: relative;
    top: -8px;
    font-family: 'Fraunces Bold';
    font-weight: 700;
    letter-spacing: 5.8px;
    color: hsl(210, 4%, 67%);
}

.rating-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 2.1rem;
}

.client-img{
    border-radius: 100%;
    height: 4.5rem;
    position: relative;
    top: -7px;
}

.client-words{
    font-family: 'Barlow Medium';
    width: 34ch;
    font-size: 1.11rem;
    line-height: 32px;
    color: hsl(232, 10%, 55%);
}

.name-position{
    margin-left: -1.01rem;
}

.client-name{
    font-family: 'Fraunces Bold';
    font-weight: 700;
    color: hsl(212, 27%, 19%);
    font-size: 1.1rem;
    margin-bottom: -1px;
}

.client-position{
    font-family:'Barlow Medium';
    font-weight: 300;
    font-size: 14px;
    color: hsl(210, 4%, 67%);
}


@media only screen and (min-width: 320px) and (max-width: 599px){
    .testimonial-wrap{
        position: relative;
        height: 1258px;
        gap: 3.9rem;
    }
    
    .rating{
        position: relative;
        top: -1.6rem;
        grid-template-columns: 1fr;
    }
    
    h3{
        position: relative;
        top: 0px;
        font-size: 15px;
        letter-spacing: 4.5px;
    }
    
    .rating-wrap{
        row-gap: 5px;
    }
    
    .client-img{
        position: relative;
        top: .74rem;
    }
    
    .client-words{
        font-family: 'Barlow Medium';
        width: 32ch;
        font-size: 1.11rem;
        line-height: 32px;
        color: hsl(232, 10%, 55%);
        margin-bottom: 2rem;
        position: relative;
        top: 1.4rem;
    }
    
    .name-position{
        margin-left:0;
        position: relative;
        top: -2px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){
    .testimonial-wrap{
        position: relative;
        height: 1258px;
        gap: 3.9rem;
    }
    
    .rating{
        position: relative;
        top: -1.6rem;
        grid-template-columns: 1fr;
    }
    
    h3{
        position: relative;
        top: 0px;
        font-size: 15px;
        letter-spacing: 4.5px;
    }
    
    .rating-wrap{
        row-gap: 5px;
    }
    
    .client-img{
        position: relative;
        top: .74rem;
    }
    
    .client-words{
        font-family: 'Barlow Medium';
        width: 32ch;
        font-size: 1.11rem;
        line-height: 32px;
        color: hsl(232, 10%, 55%);
        margin-bottom: 2rem;
        position: relative;
        top: 1.4rem;
    }
    
    .name-position{
        margin-left:0;
        position: relative;
        top: -2px;
    }
}

/* ********************  Flex image-cards section *************** */

.flex-cards{
    position: relative;
    display: flex;
    width: 100%;
}

.flexed-image{
    position: relative;
    width: 25%;
    height: 447px;
}

@media only screen and (min-width:320px) and (max-width:599px){
    .flex-cards{
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:320px) and (max-width:450px){
    .flexed-image{
        width: 100%;
        height: 189px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 599px){
        .flexed-image{
        width: 100%;
        height: 250px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){
    .flex-cards{
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .flexed-image{
        width: 100%;
    }
    
}

/**************************** Footer section ***********************/
footer{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #91D3C5;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    position: relative;
    top:1.7rem;
    left: -5.2px;
    height: 2.3rem;
    width: 10.5rem;
}

.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    position: relative;
    left: 6px;
    top: -2.3rem;
}

.footer-link{
    font-family: 'Barlow Medium';
    color: #2C7566;
    letter-spacing: -.27px;
}

.footer-link:hover{
    cursor: pointer;
    color: white;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.77rem;
    position: relative;
    top: 6px;
    margin-top: -5.6rem;
    cursor: pointer;
}

@media only screen and (min-width:320px) and (max-width:599px){
    .footer-logo{
        position: relative;
        top:1.2rem;
    }

    .icons{
        gap: 1.77rem;
        position: relative;
        top: -2px;
        margin-top: -5.6rem;
    }

    .footer-list{
        gap: 9px;
        position: relative;
        left: 4.3px;
        top: -2.7rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1439px){
    .footer-logo{
        position: relative;
        top:1.2rem;
    }

    .icons{
        gap: 1.77rem;
        position: relative;
        top: -2px;
        margin-top: -5.6rem;
    }

    .footer-list{
        gap: 9px;
        position: relative;
        left: 4.3px;
        top: -2.7rem;
    }
}
